* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle at top, #1a0033, #000);
}

.container {
    width: 320px;
    padding: 25px;
    background: rgba(0,0,0,0.7);
    border-radius: 25px;
    box-shadow: 0 10px 40px rgba(0,0,0,0.5);
}

.tabs {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    background: rgba(255,255,255,0.05);
    padding: 5px;
    border-radius: 25px;
    position: relative;
    overflow: hidden;
}

.tabs::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 100%;
    background: linear-gradient(135deg, #7a00ff, #c084fc);
    border-radius: 999px;
    transition: transform 0.4s cubic-bezier(0.65, 0, 0.35, 1);
    transform: translateX(var(--pos, 0%));
    z-index: 0;
}

.tabs button {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 999px;
    background: transparent;
    color: white;
    cursor: pointer;
    position: relative;
    z-index: 1;
    transition: all 0.35s cubic-bezier(0.65, 0, 0.35, 1);
}

.tabs button:hover {
    transform: translateY(-2px) scale(1.03);
}

.tabs button:active {
    transform: scale(0.96);
}

.form {
    display: none;
    flex-direction: column;
    opacity: 0;
    transform: translateY(10px) scale(0.98);
    transition: all 0.35s cubic-bezier(0.65, 0, 0.35, 1);
}

.form.active {
    display: flex;
    opacity: 1;
    transform: translateY(0) scale(1);
}

.form h2 {
    color: white;
    margin-bottom: 15px;
}

.form input {
    margin: 8px 0;
    padding: 12px;
    border-radius: 15px;
    border: none;
    outline: none;
    background: rgba(255,255,255,0.1);
    color: white;
    transition: 0.3s;
}

.form input:focus {
    transform: scale(1.02);
    box-shadow: 0 0 10px rgba(168, 85, 247, 0.6);
}

/* BOTÃO */
.form button {
    margin-top: 12px;
    padding: 12px;
    border: none;
    border-radius: 20px;
    background: linear-gradient(135deg, #7a00ff, #c084fc);
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.form button:hover {
    transform: translateY(-2px);
}

.form button:active {
    transform: scale(0.95);
}
